@font-face {
    font-family: 'IRANSans';
    src: url('IRANSans-Medium.woff2') format('woff2'),
        url('IRANSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

